@charset "utf-8";/* CSS basic */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{ margin: 0; padding: 0; }
fieldset,img{ border: 0; }
img{vertical-align: top;}
:focus{ outline: 0; }
address,caption,cite,code,dfn,em,strong,th,var,optgroup{ font-style: normal; font-weight: normal; }
h1,h2,h3,h4,h5,h6{ font-size: 100%; font-weight: normal; font-family: "Arial","Hiragino Sans GB", \5fae\8f6f\96c5\9ed1, "Helvetica", "sans-serif"; }
input,button,textarea,select{ *font-size: 100%; border:none;}
body{ background:#fff;font: 14px/1.5 "Arial","Hiragino Sans GB", \5fae\8f6f\96c5\9ed1, "Helvetica", "sans-serif"; }
ol,ul,li{ list-style: none; }
table{ border-collapse: collapse; border-spacing: 0; }
i{ font-style: normal;}
:link, :visited, ins{ text-decoration: none; }
.rel{position: relative;}.abs{position: absolute;}.fl{float: left;}.fr{float: right;}
.w{width: 1215px;min-width:1215px;margin: 0 auto;position: relative;}
a{color: #666;}a:hover{transition : color 0.2s linear 0s,background-color 0.3 linear 0s;color: #63b2f5;}
.clearfix:after{content:'\0020';display:block;height:0;clear:both;visibility:hidden;}
.clearfix{*zoom:1;}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {display: block;}

.wrap{
	position: relative;
	width: 1215px;
	height: 717px;
	margin: 0 auto;
	background: url(../images/bg.jpg) center top no-repeat;
}
.people{position: absolute;top: 1px;left: 0;width: 857px;height: 715px;background: url(../images/people.png) right top no-repeat;}
.logo{position: absolute;left: 374px;top: 18px;z-index: 5;}
.logo a{width: 233px;height: 151px;background: url(../images/logo.png) center no-repeat;display: block;overflow: hidden;text-indent: -9999px;}
.nav{position: relative;left: 446px;top: 33px;z-index: 4;width: 570px;height: 64px;padding-top: 55px;padding-left: 167px;background: url(../images/navBg.png) right top no-repeat;}
.nav ul{height: 36px;}
.nav li{float: left;margin-right: 16px;}
.nav li a{height: 22px;padding: 0 6px 12px;border-bottom: 2px solid transparent;font: bold 16px/22px 'Microsoft YaHei';color: #000;display: block;transition : all 0.2s linear 0s}
.nav li.cur a,.nav li a:hover{color: #0e249d;border-color: #0e249d;}
.nav li.default a{color: #000;border-color: transparent}

.link{position: absolute;right: 52px;top: 194px;width: 580px;height: 112px;padding-top: 55px;text-align: center;font: 24px/32px 'Microsoft YaHei';color: #fff;background: url(../images/link.png) center no-repeat;}
.link a{color: #ffdd4e;}

.footerNav{position: absolute;bottom: 0;right: 32px;height: 36px;width: 930px;padding-top: 12px;}
.footerNav li{float: left;height: 26px;padding: 0 40px;border-right: 1px solid #3d45a7;}
.footerNav li:last-child{border-right: 0;}
.footerNav li a{position: relative;height: 26px;font-size: 14px;line-height: 26px;padding-left: 46px;color: #fff;display: block;}
.footerNav li i{position: absolute;top: 0;left: 0;width: 32px;height: 26px;background: url(../images/footerNav.png) no-repeat;display: block;}
.footerNav li.nLi-1 i{background-position: 0 0;}
.footerNav li.nLi-2 i{background-position: -32px 0;}
.footerNav li.nLi-3 i{background-position: -64px 0;}
.footerNav li.nLi-4 i{background-position: -96px 0;}
.footerNav li.nLi-5 i{background-position: -128px 0;}
.footerNav li a:hover{color: #eabb40;}
.footerNav li a:hover i{-ms-background-position-y: -26px;background-position-y: -26px;}

.intro{position: absolute;top: 388px;right: 70px;display: none;}
.intro li{padding: 18px 0;font-size: 16px;line-height: 32px;color: #fff;border-bottom: 1px solid #253380;}
.intro li:last-child{border-bottom: none;}
.intro li span{margin-right: 32px;}
.intro li span:last-child{margin-right: 0;}

.video{position: absolute;top: 386px;right: 70px;width: 643px;height: 262px;background: url(../images/video.jpg) center no-repeat;display: none;}
.video .videoBtn{position: absolute;top: 50%;left: 50%;margin-top: -44px;margin-left: -44px;width: 87px;height: 87px;background: url(../images/videoBtn.png) no-repeat;display: block;}

.step{position: absolute;top: 406px;right: 50px;width: 827px;height: 224px;}
.step img{margin: 0 6px;}

#VideoScreen{position: fixed;left: 50%;margin-left: -480px;top: 50%;margin-top: -270px;width: 960;height: 540px;z-index: 101;}

.mask{position: fixed;top: 0;right: 0;bottom: 0;left: 0;z-index: 100;background: rgba(0,0,0,.85);display: none;}
.mask .close{position: absolute;right: 8px;top: 8px;width: 33px;height: 33px;display: block;background: url(../images/close_default.png) no-repeat;}
.mask .close:hover{background-image: url(../images/close_hover.png);}