@charset "utf-8";
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td {
    margin: 0;
    padding: 0;
    list-style: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    text-size-adjust: none;
    font-size: 14px;
    font-family: "Microsoft YaHei","arial";
    font-style: normal
}

a {
    text-decoration: none;
    color: inherit
}

img {
    width: 100%;
    height: auto;
    display: block
}

i {
    font-style: normal
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

iframe {
    width: 100%;
    height: 100%
}

input,textarea,button {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    background: none;
    outline: none;
    border: none;
    font-family: "Microsoft YaHei","arial"
}



button {
    border: none
}

html {
    width: 100%
}

body {
    width: 100%;
    min-width: 1200px;
    position: relative;
    font-weight: normal;
    background: #fff;
    overflow: hidden;
}

body.overflow {
    height: 100%;
    overflow: hidden
}
.t-blue{color: #1468f4!important;}
.fl{float: left;}.fr{float: right;}
.w{position: relative;width: 1200px;margin: 0 auto;}
.header {
    width: 100%;
    height: 88px;
    position: relative;
    z-index: 10;
    min-width: 1200px;
    box-shadow: 0 4px 18px 0 rgba(202, 202, 202, .75);
}
.header .logo{
	padding-left: 120px;
	height: 64px;
	padding-top: 24px;
	float: left;
	background: url(../images/icon-phone.png) 10px center no-repeat;
}
.header .logo a{
	font: 18px/32px 'Microsoft YaHei';
	color: #000;
}
.Nav{margin-top: 30px;}
.Nav li{
	height: 40px;
	border-right: 1px solid #dedede;
	float: left;
	padding: 0 15px;
}
.Nav li:last-child{border-right: 0;}
.Nav li a{
	height: 40px;
	padding-bottom: 15px;
	font: 16px/40px 'Microsoft YaHei';
	border-bottom: 3px solid #fff;
	display: block;
	transition : all 0.2s linear 0s
}
.Nav li a:hover,.Nav li.cur a{border-color: #fb1047;color: #fb1047;}
.Nav li a:hover i,.Nav li.cur a i{background-position-y: -38px;}

.Nav li.default a{border-color: #fff;color: #000;}
.Nav li.default a i{background-position-y: 0;}

.nav-sprite{
	background: url(../images/nav-sprite.png) no-repeat;
}
.Nav li i{width: 42px;height: 38px;display: inline-block;*display: inline;*zoom: 1;vertical-align: top;}
.Nav li.nLi-1 i{background-position: 0 0;}
.Nav li.nLi-2 i{background-position: -42px 0;}
.Nav li.nLi-3 i{background-position: -84px 0;}
.Nav li.nLi-4 i{background-position: -126px 0;}
.Nav li.nLi-5 i{background-position: -168px 0;}


/* copy form */
.mobilemain .center .swiper-container .swiper-slide .pic,.mobilemain .center .swiper-container .swiper-slide .text,.mobilemain .btn ul li span,.mobilemain .btn ul li i,.mobilemain .btn ul li em,.mobilemain .btn ul li {
    -webkit-transition: all .4s cubic-bezier(.4,.01,.165,.99);
    -moz-transition: all .4s cubic-bezier(.4,.01,.165,.99);
    -ms-transition: all .4s cubic-bezier(.4,.01,.165,.99);
    -o-transition: all .4s cubic-bezier(.4,.01,.165,.99);
    transition: all .4s cubic-bezier(.4,.01,.165,.99)
}

.mobilemain {
    width: 100%;
    position: relative;
    overflow: hidden
}

.mobilemain .center {
    width: 100%;
    background: #f9f9f9 url(../images/app_bg.png) left bottom repeat-x
}

.mobilemain .center .swiper-container {
    width: 1200px;
    height: 100%;
    margin: 0 auto
}

.mobilemain .center .swiper-container .swiper-slide {
    width: 100%;
    min-height: 440px;
    position: relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}

.mobilemain .center .swiper-container .swiper-slide .main {
    width: 100%;
    height: 440px;
    position: absolute;
    top: 50%;
    margin-top: -220px
}

.mobilemain .center .swiper-container .swiper-slide .pic {
    width: 410px;
    height: 440px;
    float: left;
    padding-left: 100px;
    margin-right: 30px;
    -webkit-transform: translate3d(-100%,0,0);
    -moz-transform: translate3d(-100%,0,0);
    -ms-transform: translate3d(-100%,0,0);
    -o-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0)
}

.mobilemain .menu {
    width: 100%;
    height: 138px;
    background-color: #fff
}

.mobilemain .menu ul {
    position: relative;
    width: 1200px;
    margin: 30px auto 0;
    height: 97px;
}

.mobilemain .menu ul li {
    width: 105px;
    margin-right: 76px;
    float: left;
    cursor: pointer;
    text-align: center
}
.mobilemain .menu ul li:last-child{margin-right: 0;}
.mobilemain .menu ul li i {
    width: 105px;
    height: 97px;
    display: block;
    background-image: url(../images/icon-online.png);
    background-repeat: no-repeat;
}

.mobilemain .menu .nLi-1 i {background-position: 0 0}
.mobilemain .menu .nLi-2 i {background-position: -105px 0}
.mobilemain .menu .nLi-3 i {background-position: -210px 0}
.mobilemain .menu .nLi-4 i {background-position: -315px 0}
.mobilemain .menu .nLi-5 i {background-position: -420px 0}
.mobilemain .menu .nLi-6 i {background-position: -525px 0}
.mobilemain .menu .nLi-7 i {background-position: -630px 0}
.mobilemain .menu li:hover i,.mobilemain .menu li.on i{background-position-y: -97px;}

.mobilemain .menu .btn-style-app li i{background-image: url(../images/icon-app.png);}
.mobilemain .menu .btn-style-online li i{background-image: url(../images/icon-online.png);}
.mobilemain .menu .btn-style-play li i{background-image: url(../images/icon-play.png);}
.mobilemain .menu .btn-style-sport li i{background-image: url(../images/icon-sport.png);}
.mobilemain .menu .btn-style-lottery li i{background-image: url(../images/icon-lottery.png);}


.mobilemain .center .swiper-container .swiper-slide .text {
    width: 620px;
    float: left;
    padding-top: 80px;
    margin-left: 30px;
    -webkit-transform: translate3d(100%,0,0);
    -moz-transform: translate3d(100%,0,0);
    -ms-transform: translate3d(100%,0,0);
    -o-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0)
}

.mobilemain .center .swiper-container .swiper-slide.swiper-slide-active .pic,.mobilemain .center .swiper-container .swiper-slide.swiper-slide-active .text {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0)
}

.mobilemain .tit {
    width: 100%;
    float: left
}

.mobilemain .tit h1 {
    font-size: 60px;
    margin-bottom: 12px;
    color: #4b4b4b;
    font-weight: inherit
}

.mobilemain .tit p {
    font-size: 28px;
    color: #474747
}

.mobilemain .btn {
    width: 370px;
    overflow: hidden;
    margin-top: 50px;
    float: left
}

.mobilemain .btn ul {
    width: 100%;
    height: 100%
}

.mobilemain .btn ul li {
    width: 168px;
    height: 38px;
    line-height: 38px;
    color: #fff;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
    cursor: pointer;
    position: relative;
    border-radius: 3px;
    background: #0088fe;
    overflow: hidden;
    border: 1px solid #0e73ca
}

.mobilemain .btn ul li.android {
    background: #16c38d;
    border: 1px solid #13b17d
}

.mobilemain .btn ul li.html5 {
    background: #f06627;
    border: 1px solid #e54f2a
}

.mobilemain .btn ul li span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    text-align: center
}

.mobilemain .btn ul li i {
    width: 18px;
    height: 22px;
    float: left;
    margin: 8px 10px 0 75px;
    opacity: 0;
    position: relative;
    z-index: 1;
    background-image: url(../images/all_icon.png);
    background-position: 0 -144px
}

.mobilemain .btn ul li.android i {
    background-position: -22px -144px
}

.mobilemain .btn ul li.html5 i {
    background-position: -44px -144px
}

.mobilemain .btn ul li em {
    width: 190px;
    height: 190px;
    display: block;
    position: absolute;
    top: -75px;
    left: -10px;
    z-index: 0;
    background: #ff9100;
    border-radius: 95px;
    transform: scale(0);
    -moz-transform: scale(0);
    -webkit-transform: scale(0)
}

.mobilemain .btn ul li:hover {
    border: 1px solid #d87e08
}

.mobilemain .btn ul li:hover i {
    opacity: 1;
    margin-left: 40px
}

.mobilemain .btn ul li:hover span {
    -webkit-transform: translate3d(10px,0,0);
    -moz-transform: translate3d(10px,0,0);
    -ms-transform: translate3d(10px,0,0);
    -o-transform: translate3d(10px,0,0);
    transform: translate3d(10px,0,0)
}

.mobilemain .btn ul li:hover em {
    transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1)
}



/*  */

#Browser {
    width: 100%;
    height: 100%;
    background-color: #f1f1f1;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999
}

#Browser .main {
    width: 668px;
    height: 448px;
    position: absolute;
    z-index: 99;
    display: block;
    left: 50%;
    top: 50%;
    margin-top: -224px;
    margin-left: -334px;
    background: url(/images/browser_bg.png)
}

#Browser .main ul {
    width: 480px;
    height: 80px;
    margin: 200px auto 0 auto
}

#Browser .main li {
    width: 80px;
    height: 80px;
    text-align: center;
    float: left;
    color: #868686;
    font-size: 12px
}

#Browser .main li a {
    display: block;
    width: 100%;
    height: 100%;
    height: 25px;
    padding-top: 55px;
    cursor: pointer
}

#Browser .main li:hover a {
    color: #03a4ed
}

.swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    /* overflow: hidden; */
    z-index: 1
}

.swiper-container-no-flexbox .swiper-slide {
    float: left
}

.swiper-container-vertical>.swiper-wrapper {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    -ms-transition-property: -ms-transform;
    transition-property: transform;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box
}

.swiper-container-android .swiper-slide,.swiper-wrapper {
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -o-transform: translate(0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0)
}

.swiper-container-multirow>.swiper-wrapper {
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap
}

.swiper-container-free-mode>.swiper-wrapper {
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    margin: 0 auto
}

.swiper-slide {
    -webkit-flex-shrink: 0;
    -ms-flex: 0 0 auto;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative
}

.swiper-container-autoheight,.swiper-container-autoheight .swiper-slide {
    height: auto
}

.swiper-container-autoheight .swiper-wrapper {
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-transition-property: -webkit-transform,height;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    -ms-transition-property: -ms-transform;
    transition-property: transform,height
}

.swiper-container .swiper-notification {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    opacity: 0;
    z-index: -1000
}

.swiper-wp8-horizontal {
    -ms-touch-action: pan-y;
    touch-action: pan-y
}

.swiper-wp8-vertical {
    -ms-touch-action: pan-x;
    touch-action: pan-x
}

.swiper-button-next,.swiper-button-prev {
    position: absolute;
    top: 50%;
    width: 27px;
    height: 44px;
    margin-top: -22px;
    z-index: 10;
    cursor: pointer;
    -moz-background-size: 27px 44px;
    -webkit-background-size: 27px 44px;
    background-size: 27px 44px;
    background-position: center;
    background-repeat: no-repeat
}

.swiper-button-next.swiper-button-disabled,.swiper-button-prev.swiper-button-disabled {
    opacity: .35;
    cursor: auto;
    pointer-events: none
}

.swiper-button-prev,.swiper-container-rtl .swiper-button-next,.page-nav-next{
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
    left: -42px;
    right: auto
}

.swiper-button-prev.swiper-button-black,.swiper-container-rtl .swiper-button-next.swiper-button-black {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E")
}

.swiper-button-prev.swiper-button-white,.swiper-container-rtl .swiper-button-next.swiper-button-white {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E")
}

.swiper-button-next,.swiper-container-rtl .swiper-button-prev,.page-nav-prev{
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
    right: -42px;
    left: auto
}

.swiper-button-next.swiper-button-black,.swiper-container-rtl .swiper-button-prev.swiper-button-black {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E")
}

.swiper-button-next.swiper-button-white,.swiper-container-rtl .swiper-button-prev.swiper-button-white {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E")
}

.swiper-pagination {
    position: absolute;
    text-align: center;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    z-index: 10
}

.swiper-pagination.swiper-pagination-hidden {
    opacity: 0
}

.swiper-container-horizontal>.swiper-pagination-bullets,.swiper-pagination-custom,.swiper-pagination-fraction {
    bottom: 10px;
    left: 0;
    width: 100%
}

.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    margin-left: 5px;
    display: inline-block;
    border-radius: 100%;
    background: #000;
    opacity: .2
}

button.swiper-pagination-bullet {
    border: none;
    margin: 0;
    padding: 0;
    box-shadow: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -webkit-appearance: none;
    appearance: none
}

.swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer
}

.swiper-pagination-white .swiper-pagination-bullet {
    background: #fff
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: #007aff
}
.mobilemain .swiper-pagination-bullet-active{
    background: #fb1047
}
.mobilemain .swiper-pagination-bullet{
    border-radius: 0;
}
.mobilemain .swiper-container-horizontal>.swiper-pagination-bullets{
    text-indent: 52px;
    bottom: 52px;
}

.swiper-pagination-white .swiper-pagination-bullet-active {
    background: #fff
}

.swiper-pagination-black .swiper-pagination-bullet-active {
    background: #000
}

.swiper-container-vertical>.swiper-pagination-bullets {
    right: 10px;
    top: 50%;
    -webkit-transform: translate3d(0,-50%,0);
    -moz-transform: translate3d(0,-50%,0);
    -o-transform: translate(0,-50%);
    -ms-transform: translate3d(0,-50%,0);
    transform: translate3d(0,-50%,0)
}

.swiper-container-vertical>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 5px 0;
    display: block
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 5px
}

.swiper-pagination-progress {
    background: rgba(0,0,0,.25);
    position: absolute
}

.swiper-pagination-progress .swiper-pagination-progressbar {
    background: #007aff;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: left top;
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -o-transform-origin: left top;
    transform-origin: left top
}

.swiper-container-rtl .swiper-pagination-progress .swiper-pagination-progressbar {
    -webkit-transform-origin: right top;
    -moz-transform-origin: right top;
    -ms-transform-origin: right top;
    -o-transform-origin: right top;
    transform-origin: right top
}

.swiper-container-horizontal>.swiper-pagination-progress {
    width: 100%;
    height: 4px;
    left: 0;
    top: 0
}

.swiper-container-vertical>.swiper-pagination-progress {
    width: 4px;
    height: 100%;
    left: 0;
    top: 0
}

.swiper-pagination-progress.swiper-pagination-white {
    background: rgba(255,255,255,.5)
}

.swiper-pagination-progress.swiper-pagination-white .swiper-pagination-progressbar {
    background: #fff
}

.swiper-pagination-progress.swiper-pagination-black .swiper-pagination-progressbar {
    background: #000
}

.swiper-container-3d {
    -webkit-perspective: 1200px;
    -moz-perspective: 1200px;
    -o-perspective: 1200px;
    perspective: 1200px
}

.swiper-container-3d .swiper-cube-shadow,.swiper-container-3d .swiper-slide,.swiper-container-3d .swiper-slide-shadow-bottom,.swiper-container-3d .swiper-slide-shadow-left,.swiper-container-3d .swiper-slide-shadow-right,.swiper-container-3d .swiper-slide-shadow-top,.swiper-container-3d .swiper-wrapper {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d
}

.swiper-container-3d .swiper-slide-shadow-bottom,.swiper-container-3d .swiper-slide-shadow-left,.swiper-container-3d .swiper-slide-shadow-right,.swiper-container-3d .swiper-slide-shadow-top {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 10
}

.swiper-container-3d .swiper-slide-shadow-left {
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,0)));
    background-image: -webkit-linear-gradient(right,rgba(0,0,0,.5),rgba(0,0,0,0));
    background-image: -moz-linear-gradient(right,rgba(0,0,0,.5),rgba(0,0,0,0));
    background-image: -o-linear-gradient(right,rgba(0,0,0,.5),rgba(0,0,0,0));
    background-image: linear-gradient(to left,rgba(0,0,0,.5),rgba(0,0,0,0))
}

.swiper-container-3d .swiper-slide-shadow-right {
    background-image: -webkit-gradient(linear,right top,left top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,0)));
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,.5),rgba(0,0,0,0));
    background-image: -moz-linear-gradient(left,rgba(0,0,0,.5),rgba(0,0,0,0));
    background-image: -o-linear-gradient(left,rgba(0,0,0,.5),rgba(0,0,0,0));
    background-image: linear-gradient(to right,rgba(0,0,0,.5),rgba(0,0,0,0))
}

.swiper-container-3d .swiper-slide-shadow-top {
    background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,.5)),to(rgba(0,0,0,0)));
    background-image: -webkit-linear-gradient(bottom,rgba(0,0,0,.5),rgba(0,0,0,0));
    background-image: -moz-linear-gradient(bottom,rgba(0,0,0,.5),rgba(0,0,0,0));
    background-image: -o-linear-gradient(bottom,rgba(0,0,0,.5),rgba(0,0,0,0));
    background-image: linear-gradient(to top,rgba(0,0,0,.5),rgba(0,0,0,0))
}

.swiper-container-3d .swiper-slide-shadow-bottom {
    background-image: -webkit-gradient(linear,left bottom,left top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,0)));
    background-image: -webkit-linear-gradient(top,rgba(0,0,0,.5),rgba(0,0,0,0));
    background-image: -moz-linear-gradient(top,rgba(0,0,0,.5),rgba(0,0,0,0));
    background-image: -o-linear-gradient(top,rgba(0,0,0,.5),rgba(0,0,0,0));
    background-image: linear-gradient(to bottom,rgba(0,0,0,.5),rgba(0,0,0,0))
}

.swiper-container-coverflow .swiper-wrapper,.swiper-container-flip .swiper-wrapper {
    -ms-perspective: 1200px
}

.swiper-container-cube,.swiper-container-flip {
    overflow: visible
}

.swiper-container-cube .swiper-slide,.swiper-container-flip .swiper-slide {
    pointer-events: none;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 1
}

.swiper-container-cube .swiper-slide .swiper-slide,.swiper-container-flip .swiper-slide .swiper-slide {
    pointer-events: none
}

.swiper-container-cube .swiper-slide-active,.swiper-container-cube .swiper-slide-active .swiper-slide-active,.swiper-container-flip .swiper-slide-active,.swiper-container-flip .swiper-slide-active .swiper-slide-active {
    pointer-events: auto
}

.swiper-container-cube .swiper-slide-shadow-bottom,.swiper-container-cube .swiper-slide-shadow-left,.swiper-container-cube .swiper-slide-shadow-right,.swiper-container-cube .swiper-slide-shadow-top,.swiper-container-flip .swiper-slide-shadow-bottom,.swiper-container-flip .swiper-slide-shadow-left,.swiper-container-flip .swiper-slide-shadow-right,.swiper-container-flip .swiper-slide-shadow-top {
    z-index: 0;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden
}

.swiper-container-cube .swiper-slide {
    visibility: hidden;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    width: 100%;
    height: 100%
}

.swiper-container-cube.swiper-container-rtl .swiper-slide {
    -webkit-transform-origin: 100% 0;
    -moz-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0
}

.swiper-container-cube .swiper-slide-active,.swiper-container-cube .swiper-slide-next,.swiper-container-cube .swiper-slide-next+.swiper-slide,.swiper-container-cube .swiper-slide-prev {
    pointer-events: auto;
    visibility: visible
}

.swiper-container-cube .swiper-cube-shadow {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .6;
    -webkit-filter: blur(50px);
    filter: blur(50px);
    z-index: 0
}

.swiper-container-fade.swiper-container-free-mode .swiper-slide {
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out
}

.swiper-container-fade .swiper-slide {
    pointer-events: none;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity
}

.swiper-container-fade .swiper-slide .swiper-slide {
    pointer-events: none
}

.swiper-container-fade .swiper-slide-active,.swiper-container-fade .swiper-slide-active .swiper-slide-active {
    pointer-events: auto
}

.swiper-zoom-container {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    text-align: center
}

.swiper-zoom-container>canvas,.swiper-zoom-container>img,.swiper-zoom-container>svg {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain
}

.swiper-scrollbar {
    border-radius: 10px;
    position: relative;
    -ms-touch-action: none;
    background: rgba(0,0,0,.1)
}

.swiper-container-horizontal>.swiper-scrollbar {
    position: absolute;
    left: 1%;
    bottom: 3px;
    z-index: 50;
    height: 5px;
    width: 98%
}

.swiper-container-vertical>.swiper-scrollbar {
    position: absolute;
    right: 3px;
    top: 1%;
    z-index: 50;
    width: 5px;
    height: 98%
}

.swiper-scrollbar-drag {
    height: 100%;
    width: 100%;
    position: relative;
    background: rgba(0,0,0,.5);
    border-radius: 10px;
    left: 0;
    top: 0
}

.swiper-scrollbar-cursor-drag {
    cursor: move
}

.swiper-lazy-preloader {
    width: 42px;
    height: 42px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -21px;
    margin-top: -21px;
    z-index: 10;
    -webkit-transform-origin: 50%;
    -moz-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-animation: swiper-preloader-spin 1s steps(12,end) infinite;
    -moz-animation: swiper-preloader-spin 1s steps(12,end) infinite;
    animation: swiper-preloader-spin 1s steps(12,end) infinite
}

.swiper-lazy-preloader:after {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    background-position: 50%;
    -webkit-background-size: 100%;
    background-size: 100%;
    background-repeat: no-repeat
}

.swiper-lazy-preloader-white:after {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E")
}

@-webkit-keyframes swiper-preloader-spin {
    100% {
        -webkit-transform: rotate(360deg)
    }
}

@keyframes swiper-preloader-spin {
    100% {
        transform: rotate(360deg)
    }
}

#appdownload .pop-up,#appdownload .pop-up .hd i,#appdownload .pop-up .bd .btn,#appdownload .pop-up .bd .btn span,#appdownload .pop-up .bd .btn i,#appdownload .pop-up .bd .btn em {
    -webkit-transition: all .4s cubic-bezier(.4,.01,.165,.99);
    -moz-transition: all .4s cubic-bezier(.4,.01,.165,.99);
    -ms-transition: all .4s cubic-bezier(.4,.01,.165,.99);
    -o-transition: all .4s cubic-bezier(.4,.01,.165,.99);
    transition: all .4s cubic-bezier(.4,.01,.165,.99)
}

#appdownload {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    overflow-x: hidden;
    overflow-y: auto;
    display: none;
    background-color: rgba(0,0,0,.5)
}

#appdownload .main {
    width: 100%;
    height: 100%;
    min-height: 600px;
    position: relative
}

#appdownload .pop-up {
    width: 510px;
    height: 570px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -255px;
    margin-top: -285px;
    border-radius: 5px;
    opacity: 0;
    -webkit-transform: translate3d(0,-20%,0);
    -moz-transform: translate3d(0,-20%,0);
    -ms-transform: translate3d(0,-20%,0);
    -o-transform: translate3d(0,-20%,0);
    transform: translate3d(0,-20%,0)
}

#appdownload .pop-up.on {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0)
}

#appdownload .pop-up .hd {
    width: 100%;
    height: 60px;
    position: relative;
    border-radius: 5px 5px 0 0;
    background-color: #0088fe
}

#appdownload .pop-up .hd h1 {
    display: block;
    text-align: center;
    font-weight: inherit;
    line-height: 60px;
    font-size: 18px;
    color: #fff
}

#appdownload .pop-up .hd i {
    display: block;
    width: 28px;
    text-align: center;
    font-size: 28px;
    height: 28px;
    line-height: 24px;
    position: absolute;
    right: 16px;
    top: 16px;
    color: #164c7b;
    cursor: pointer
}

#appdownload .pop-up .hd i:hover {
    color: #fff;
    transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg)
}

#appdownload .pop-up .nav {
    width: 510px;
    height: 100px;
    background-color: #fff;
    position: relative;
    z-index: 2;
    box-shadow: 0 2px 1px 0 rgba(0,0,0,.15);
    -webkit-box-shadow: 0 2px 1px 0 rgba(0,0,0,.15)
}

#appdownload .pop-up .nav .arrow {
    width: 20px;
    height: 12px;
    position: absolute;
    bottom: -3px;
    left: 50%;
    margin-left: -10px;
    background: url(../images/Pop-up/icon.png) 0 -60px
}

#appdownload .pop-up .nav .nav-main {
    position: relative;
    left: 50%;
    height: 100%;
    float: left
}

#appdownload .pop-up .nav ul {
    position: relative;
    left: -50%;
    height: 70px;
    float: left;
    margin-top: 15px
}

#appdownload .pop-up .nav ul li {
    width: 170px;
    height: 70px;
    float: left;
    cursor: pointer;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-right: 1px solid #ccc
}

#appdownload .pop-up .nav ul li:last-child {
    border-right: none
}

#appdownload .pop-up .nav ul li span {
    width: 60px;
    height: 60px;
    display: block;
    margin: 0 auto;
    border-radius: 45px;
    border: 5px solid #e4e4e4;
    background-color: #0088fe;
    position: relative;
    background-image: url(../images/Pop-up/icon.png)
}

#appdownload .pop-up .nav ul li.on span em {
    width: 20px;
    height: 12px;
    display: block;
    position: absolute;
    bottom: -23px;
    left: 20px;
    background: url(../images/Pop-up/icon.png) 0 -60px
}

#appdownload .pop-up .nav ul li.ios span {
    background-position: 0 0
}

#appdownload .pop-up .nav ul li.android span {
    background-position: -60px 0
}

#appdownload .pop-up .nav ul li.html5 span {
    background-position: -120px 0
}

#appdownload .pop-up .bd {
    width: 510px;
    height: 410px;
    overflow: hidden;
    border-radius: 0 0 5px 5px;
    background-color: #f1f1f1
}

#appdownload .pop-up .bd .code,#appdownload .pop-up .bd .swiper-container {
    width: 510px;
    height: 410px;
    overflow: hidden
}

#appdownload .pop-up .bd .code {
    text-align: center;
    position: relative
}

#appdownload .pop-up .bd .code h1 {
    font-size: 18px;
    font-weight: inherit;
    color: #0088fe;
    margin-top: 24px
}

#appdownload .pop-up .bd .code p {
    font-size: 14px;
    color: #595959
}

#appdownload .pop-up .bd .code p a {
    margin-left: 5px;
    color: #0088fe
}

#appdownload .pop-up .bd .code img {
    width: 150px;
    height: 150px;
    margin: 10px auto 0 auto
}

#appdownload .pop-up .bd .code em {
    font-size: 12px;
    color: #6e6e6e;
    position: absolute;
    bottom: 34px;
    width: 100%;
    left: 0
}

#appdownload .pop-up .bd .btn {
    display: block;
    width: 120px;
    height: 28px;
    overflow: hidden;
    border: 1px solid #13b17d;
    background-color: #16c38d;
    border-radius: 3px;
    cursor: pointer;
    position: absolute;
    left: 50%;
    bottom: 70px;
    float: none;
    margin: 15px 0 0 -60px
}

#appdownload .pop-up .bd .btn.btn2 {
    left: 60%;
    bottom: 90px
}

#appdownload .pop-up .bd .btn.tutorialback {
    bottom: 130px
}

#appdownload .pop-up .bd .btn span {
    position: relative;
    z-index: 1;
    font-weight: inherit;
    text-align: center;
    line-height: 26px;
    display: block;
    width: 100%;
    height: 28px;
    font-size: 14px;
    color: #fff
}

#appdownload .pop-up .bd .btn i {
    display: block;
    position: absolute;
    width: 140px;
    height: 140px;
    left: -10px;
    top: -56px;
    border-radius: 70px;
    background-color: #0088fe;
    z-index: 0;
    transform: scale(0,0);
    -moz-transform: scale(0,0);
    -webkit-transform: scale(0,0)
}

#appdownload .pop-up .bd .btn em {
    width: 14px;
    height: 14px;
    display: block;
    background-image: url(/images/header/header.png);
    background-position: 0 -110px;
    position: absolute;
    top: 7px;
    left: 50%;
    opacity: 0
}

#appdownload .pop-up .bd .btn:hover {
    border: 1px solid #0e73ca
}

#appdownload .pop-up .bd .btn:hover i {
    transform: scale(1,1);
    -moz-transform: scale(1,1);
    -webkit-transform: scale(1,1)
}

#appdownload .pop-up .bd .btn:hover em {
    -webkit-transform: translate3d(145%,0,0);
    -moz-transform: translate3d(145%,0,0);
    -ms-transform: translate3d(145%,0,0);
    -o-transform: translate3d(145%,0,0);
    transform: translate3d(145%,0,0);
    opacity: 1
}

#appdownload .pop-up .bd .btn:hover span {
    -webkit-transform: translate3d(-10%,0,0);
    -moz-transform: translate3d(-10px,0,0);
    -ms-transform: translate3d(-10%,0,0);
    -o-transform: translate3d(-10%,0,0);
    transform: translate3d(-10%,0,0)
}

#sidebar ul li,#sidebar ul,#sideMenu,#sideMenu dl dt i,#sideMenu dl dd,#sideMenu dl dd span,#sideMenu dl dd i,.sidebar-box .main .hd i,.sidebar-box .main,.sidebar-box.on .main {
    -webkit-transition: all .4s cubic-bezier(.4,.01,.165,.99);
    -moz-transition: all .4s cubic-bezier(.4,.01,.165,.99);
    -ms-transition: all .4s cubic-bezier(.4,.01,.165,.99);
    -o-transition: all .4s cubic-bezier(.4,.01,.165,.99);
    transition: all .4s cubic-bezier(.4,.01,.165,.99)
}

#sidebar {
    width: 42px;
    overflow: hidden;
    position: fixed;
    left: 50%;
    bottom: 20px;
    margin-left: 700px;
    z-index: 99
}

#sidebar ul {
    float: right;
    width: 42px;
    position: relative;
    overflow: hidden
}

#sidebar ul li {
    width: 42px;
    height: 42px;
    margin-bottom: 5px;
    background-color: #383b3f;
    cursor: pointer
}

#sidebar ul li:last-child {
    margin-bottom: 0
}

#sidebar ul li:hover {
    background-color: #0088fe
}

#sidebar ul li i {
    width: 42px;
    height: 42px;
    display: block;
    float: left;
    background-image: url(../images/floating/floating.png)
}

#sidebar ul li.Service i {
    background-position: 0 0
}

#sidebar ul li.goTop i {
    background-position: 0 -42px
}

#sidebar ul li.goTop {
    opacity: 0
}

#sidebar ul li.goTop.on {
    opacity: 1
}

#sidebar ul li.Service.on {
    -webkit-transform: translate3d(100%,0,0);
    -moz-transform: translate3d(100%,0,0);
    -ms-transform: translate3d(100%,0,0);
    -o-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0)
}

#sidebar ul li span {
    height: 42px;
    display: block;
    float: left;
    margin-left: 3px;
    line-height: 42px;
    color: #fff
}

#sideMenu {
    width: 100px;
    overflow: hidden;
    position: fixed;
    bottom: 67px;
    z-index: 99;
    left: 50%;
    margin-left: 642px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
    -moz-box-shadow: 0 0 10px 0 rgba(0,0,0,.2)
}

#sideMenu.on {
    -webkit-transform: translate3d(100%,0,0);
    -moz-transform: translate3d(100%,0,0);
    -ms-transform: translate3d(100%,0,0);
    -o-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
    opacity: 0
}

#sideMenu dl {
    width: 100%;
    padding-bottom: 5px;
    position: relative
}

#sideMenu dl dt {
    width: 100%;
    height: 30px;
    line-height: 30px;
    background-color: #0088fe
}

#sideMenu dl dt h1 {
    float: left;
    color: #fff;
    padding-left: 10px;
    font-weight: inherit
}

#sideMenu dl dt i {
    float: right;
    color: #fff;
    width: 30px;
    height: 30px;
    background: url(../images/floating/icon_07.png);
    cursor: pointer
}

#sideMenu dl dd {
    width: 100%;
    height: 32px;
    cursor: pointer
}

#sideMenu dl dd:nth-child(odd) {
    background-color: #f5f5f5
}

#sideMenu dl dd:hover {
    background-color: #5eb4ff
}

#sideMenu dl dd i {
    width: 30px;
    height: 30px;
    float: left;
    margin-top: 1px;
    margin-left: 4px
}

#sideMenu dl dd.qq i {
    background-image: url(../images/floating/icon_01.png)
}

#sideMenu dl dd.live i {
    background-image: url(../images/floating/icon_02.png)
}

#sideMenu dl dd.wechat i {
    background-image: url(../images/floating/icon_03.png)
}

#sideMenu dl dd.call i {
    background-image: url(../images/floating/icon_04.png)
}

#sideMenu dl dd.help i {
    background-image: url(../images/floating/tv1.png)
}

#sideMenu dl dd.lucky i {
    background-image: url(../images/floating/icon_05.png)
}

#sideMenu dl dd.hunter i {
    background-image: url(../images/floating/icon_06.png)
}

#sideMenu dl dd.task i {
    background-image: url(../images/floating/icon_hot.png?v=6)
}

#sideMenu dl dd.qq:hover i {
    background-image: url(../images/floating/icon_01_h.png)
}

#sideMenu dl dd.live:hover i {
    background-image: url(../images/floating/icon_02_h.png)
}

#sideMenu dl dd.wechat:hover i {
    background-image: url(../images/floating/icon_03_h.png)
}

#sideMenu dl dd.call:hover i {
    background-image: url(../images/floating/icon_04_h.png)
}

#sideMenu dl dd.help:hover i {
    background-image: url(../images/floating/tv2.png)
}

#sideMenu dl dd.lucky:hover i {
    background-image: url(../images/floating/icon_05_h.png)
}

#sideMenu dl dd.hunter:hover i {
    background-image: url(../images/floating/icon_06_h.png)
}

#sideMenu dl dd span {
    line-height: 32px;
    color: #525252;
    font-size: 14px
}

#sideMenu dl dd:hover span {
    color: #fff
}

.sidebar-box {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: rgba(0,0,0,.5);
    display: none;
    overflow-x: hidden;
    overflow-y: auto
}

.sidebar-box::-webkit-scrollbar {
    width: 8px;
    background-color: #0088fe
}

.sidebar-box::-webkit-scrollbar-track {
    width: 8px;
    background-color: #f8f8f8
}

.sidebar-box::-webkit-scrollbar-thumb {
    width: 8px;
    background-color: #0088fe
}

.sidebar-box .main {
    -webkit-transform: translate3d(0,-20%,0);
    -moz-transform: translate3d(0,-20%,0);
    -ms-transform: translate3d(0,-20%,0);
    -o-transform: translate3d(0,-20%,0);
    transform: translate3d(0,-20%,0);
    opacity: 0
}

.sidebar-box.on .main {
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    opacity: 1
}

#wechatcode .page {
    width: 100%;
    height: 100%;
    min-height: 360px;
    position: relative
}

#wechatcode .main {
    width: 300px;
    height: 360px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -165px;
    background-color: #fff
}

#wechatcode .main .hd {
    height: 40px
}

#wechatcode .main .hd i {
    width: 40px;
    height: 40px;
    float: right;
    cursor: pointer;
    background-image: url(../images/floating/icon_08.png)
}

#wechatcode .main .bd {
    width: 100%;
    height: 226px;
    background-position: center center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}

#wechatcode .main .fd {
    width: 100%;
    line-height: 20px;
    text-align: center;
    color: #525252;
    padding: 0 18px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}

#wechatcode .main .fd i {
    width: 20px;
    height: 20px;
    display: block;
    margin: 0 auto 12px auto;
    background: url(../images/floating/warning.png)
}

#callbackbox .page {
    width: 100%;
    height: 100%;
    min-height: 400px;
    position: relative
}

#callbackbox .main {
    width: 428px;
    height: 360px;
    position: absolute;
    left: 50%;
    top: 50%;
    overflow: hidden;
    border-radius: 3px;
    margin-left: -214px;
    margin-top: -180px;
    background-color: #fff
}

#callbackbox .main .hd {
    height: 50px;
    width: 100%;
    background-color: #0088fe
}

#callbackbox .main .hd span {
    line-height: 50px;
    color: #fff;
    font-size: 16px;
    padding-left: 15px
}

#callbackbox .main .hd i {
    width: 50px;
    height: 50px;
    float: right;
    cursor: pointer;
    background-image: url(../images/floating/icon_09.png)
}

#callbackbox .main .bd {
    width: 100%;
    height: 248px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 20px 36px 0 36px
}

#callbackbox .main .bd .ts {
    width: 100%;
    height: 60px;
    font-size: 14px;
    color: #525252
}

#callbackbox .main .bd .tit {
    width: 100%;
    height: 30px;
    line-height: 30px
}

#callbackbox .main .bd .tit h1 {
    display: block;
    float: left;
    font-weight: inherit;
    width: 50%;
    height: 30px;
    font-size: 14px;
    color: #525252
}

#callbackbox .main .bd .lab {
    width: 100%;
    height: 32px;
    line-height: 32px;
    margin-bottom: 10px
}

#callbackbox .main .bd .lab div {
    width: 50%;
    height: 32px;
    float: left
}

#callbackbox .main .bd .lab div input,#callbackbox .main .bd .lab div select {
    width: 160px;
    height: 32px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 7px 10px;
    color: #333
}

#callbackbox .main .bd .lab div select {
    padding: 0 10px;
    line-height: 32px
}

#sideMenu dl dt i:hover,.sidebar-box .main .hd i:hover {
    transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg)
}

#callbackbox .main .fd {
    width: 100%;
    height: 62px
}

#callbackbox .main .fd a {
    width: 132px;
    height: 34px;
    display: block;
    border-radius: 2px;
    background-color: #0088fe;
    color: #fff;
    line-height: 34px;
    text-align: center;
    margin: 0 auto;
    cursor: pointer
}

#TeamViewer .page {
    width: 100%;
    height: 100%;
    min-height: 540px;
    position: relative
}

#TeamViewer .main {
    width: 428px;
    height: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    overflow: hidden;
    border-radius: 3px;
    margin-left: -214px;
    margin-top: -250px;
    background-color: #fff
}

#TeamViewer .main .hd {
    height: 50px;
    width: 100%;
    background-color: #0088fe
}

#TeamViewer .main .hd span {
    line-height: 50px;
    color: #fff;
    font-size: 16px;
    padding-left: 15px
}

#TeamViewer .main .hd i {
    width: 50px;
    height: 50px;
    float: right;
    cursor: pointer;
    background-image: url(../images/floating/icon_09.png)
}

#TeamViewer .main .bd img {
    width: inherit;
    height: inherit
}

#TeamViewer .main .bd {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 20px 30px
}

#TeamViewer .main .bd h1 {
    font-size: 16px;
    font-weight: inherit;
    color: #0088fe;
    margin-bottom: 20px
}

#TeamViewer .main .bd h3 {
    font-size: 14px;
    font-weight: inherit;
    color: #333;
    margin-bottom: 20px
}

#TeamViewer .main .bd h3 a {
    color: #0088fe
}

#TeamViewer .main .bd h2 {
    font-size: 16px;
    font-weight: inherit;
    color: #ff8a00;
    margin-bottom: 20px
}

#TeamViewer .main .bd p {
    color: #333
}

@media screen and (max-width: 1524px) {
    #sidebar,#sideMenu {
        left:auto;
        right: 20px
    }
}

.zxc_box,.teach_box {
    width: 560px;
    position: fixed;
    z-index: 100;
    display: block;
    background: #fff;
    border: 1px #ddd solid;
    moz-box-shadow: 0 0 20px 0 rgba(32,32,32,.2);
    -webkit-box-shadow: 0 0 20px 0 rgba(32,32,32,.2);
    box-shadow: 0 0 20px 0 rgba(32,32,32,.2)
}

.zxc_box .top {
    width: 560px;
    height: 50px;
    border-bottom: 1px #dcdcdc solid
}

.zxc_box .title {
    width: 510px;
    height: 50px;
    font-size: 18px;
    line-height: 50px;
    display: block;
    float: left;
    padding-left: 10px;
    overflow: hidden
}

.zxc_box .close {
    width: 40px;
    font-size: 18px;
    line-height: 50px;
    text-align: center;
    display: block;
    float: left;
    cursor: pointer
}

.zxc_box .close:hover {
    color: #0088fe
}

.zxc_box .content {
    width: 540px;
    height: 300px;
    margin: 10px 10px 10px 10px;
    overflow-y: auto
}

.zxc_box .next {
    text-align: right;
    padding: 10px;
    color: #ea7865
}

.zxc_box .next span {
    cursor: pointer
}


.mobilemain .menu ul li span {
	margin-top: 5px;
	display: block;text-align: center;
    color: #888
}

.mobilemain .menu ul li.on span,.mobilemain .menu ul li:hover span {
    color: #282828
}

.css3{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateX(0) translateY(0) translateZ(-1000px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
  -moz-transform: translateX(0) translateY(0) translateZ(-1000px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
  -ms-transform: translateX(0) translateY(0) translateZ(-1000px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
  transform: translateX(0) translateY(0) translateZ(-1000px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
  -webkit-transition: All 0s 0s;
  -moz-transition: All 0s 0s;
  -ms-transition: All 0s 0s;
  transition: All 0s 0s;}


  .page-nav-prev,.page-nav-next{display: block;}