@charset "utf-8";
/* CSS basic */
html, body, h1, h2, h3, p, span, a, div, ol, ul, li, dl, dt, dd, table, tbody, tfoot, thead, tr, th, td, input, textarea, form {margin: 0;padding: 0;font-family:'Microsoft Yahei',Arial,Verdana,Helvetica,sans-serif;-webkit-tap-highlight-color: rgba(0,0,0,0);color: #303030;box-sizing: border-box;}
ul,li{list-style: none;}
input{border: 0}
img{border: 0;max-width: 100%;vertical-align: top;}
i,b,em,strong{font-weight: normal;font-style: normal;padding: 0;margin: 0;}
a{color: #000;text-decoration: none;}
.clearfix:after{content:'\0020';display:block;height:0;clear:both;visibility:hidden;}
.clearfix{*zoom:1;}
input, textarea, keygen, select, button {margin: 0em;font: -webkit-small-control;color: initial;letter-spacing: normal;word-spacing: normal;text-transform: none;text-indent: 0px;text-shadow: none;display: inline-block;text-align: start;}
input, textarea {outline: 0;}
article, aside, footer, header, hgroup, main, nav, section {display: block;}
#wrap {margin: 0 auto;max-width: 750px;min-width: 320px;width: 100%;padding-bottom: 62px;background-color: #e5e5e5;font-size: 14px;}
.t-red{color: #f81d1d;}
.t-green{color: #0b7221;}
.t-blue{color: #062b72;}
.t-zs{color: #500e88;}
.t-yellow{color: #f0f810;}
.t-lightblue{color: #70f7ff;}
.t-heightgreen{color: #28ff32;}
.tac{text-align: center;}
.imagesOuter img{width: 100%;}
.mt8{margin-top: 8px;}
.bgfff{padding-top: 6px;background: #fff;}
/* common style */
.header{position: relative;border: 1px solid #f2f2f2;margin: 6px auto 0;background: #fff;}
.header h1{font:normal 20px/40px 'Microsoft YaHei';color: #000;text-align: center;margin: 0 72px;}
.header .goBack{position: absolute;top: 0;left: 0;font-size: 15px;line-height: 40px;color: #000;background: url(../images/goBack.png) 8px center no-repeat;display: block;padding-left: 26px;}


.indexDesc{padding: 12px;font: 18px/28px 'Microsoft YaHei';color: #303030;background: #fff;}
.indexDesc .logo{text-align: center;margin: 12px auto;}
.indexDesc .logo img{width: 53%;max-width: 340px;}
.indexFoot{padding: 12px;background: #fff;font-size: 18px;}

.itemsList{}
.itemsList li{background: #0d3d99;color: #fff;font-size: 19px;padding: 2% 6%;margin-bottom: 3px;white-space: nowrap;text-overflow: ellipsis; overflow: hidden;}
.itemsList li strong{font-size: 24px;}

.footer{position: fixed;bottom: 0;left: 0;right: 0;z-index: 10;padding: 10px 0;background: #fff;border-top: 1px solid #ccc;}
.footer li{width: 50%;text-align: center;border-right: 1px solid #ccc;float: left;}
.footer li:last-child{border-right: 0;}
.footer li img{vertical-align: middle;margin-right: 6px;height: 32px;}
.footer a{color: #0d3d99;font-size: 22px;line-height: 32px;}

.banner{}
.banner img{width: 100%;vertical-align: top;}

.Title{text-align: center;color: #174d90;font-size: 22px;line-height: 32px;padding: 2% 5%;background: #fff;}
.Title img{vertical-align: middle;margin-right: 10px;}

.IconList{background: #fff;}
.IconList li{width: 33.33%;float: left;color: #4b4b4b;border-right: 1px solid #ebebeb;border-bottom: 1px solid #ebebeb;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.IconList li a{padding: 12px 0 12px 13%;font-size: 16px;line-height: 26px;color: #4b4b4b;line-height: 26px;display: block;}
.IconList li i{width: 22px;height: 22px;margin-right: 3px;border-radius: 5px;display: inline-block;vertical-align: middle;background-repeat: no-repeat;background-position: center;background-size: 18px;}
.IconList li.nLi-1 i{background-color: #0f66d1;}
.IconList li.nLi-2 i{background-color: #f54c45;}
.IconList li.nLi-3 i{background-color: #30bc04;}
.IconList li.nLi-4 i{background-color: #ee3fe4;}
.IconList li.nLi-5 i{background-color: #ac55f1;}
.IconList li.nLi-6 i{background-color: #f5852b;}

.icon-logo{background-image: url(../images/icon-logo.png);}
.icon-qq{background-image: url(../images/icon-qq.png);}
.icon-wechat{background-image: url(../images/icon-wechat.png);}
.icon-card{background-image: url(../images/icon-card.png);}
.icon-money{background-image: url(../images/icon-money.png);}
.icon-vip{background-image: url(../images/icon-vip.png);}

.textList{padding: 15px 10px 5px;background: #fff;}
.textList li{height: 38px;line-height: 38px;font-size: 16px;color: #fff;margin-bottom: 12px;display: -webkit-box;display: -ms-box;display: box;}

.textList li .text{background: #0d3d99;color: #fff;display: block;text-indent: 15%;-webkit-box-flex: 1;-ms-box-flex: 1;box-flex: 1;}
.textList li .link{background: #f39800;text-align: center;display: block;color: #fff;margin-left: 12px;width: 120px;}
.textList li .link.go{background: #f39800 url(../images/arrowR.png) 100px center no-repeat;background-size: auto 16px;}

.round{position: absolute;right: 10px;top: 5px;width: 30px;height: 30px;background: url(../images/round.png) center no-repeat;background-size: 26px;}

#wrap.page1{
  background: #F3F3F3;
}
.flex-box {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.title-2{
  padding: 0.25rem 0;
  background: #fff;
  color:#282828;
  font-size: 0.24rem;
  text-align: center;
  line-height: 0.33rem;
}
.h2{
  font-size: 0.28rem;
  font-weight: bold;
}

.page1 .itemsList li{
  margin-bottom: 1px;
  background: #057ADC;
  font-size:0.26rem;
}
.page1 .itemsList li span:first-child{
  font-size:0.3rem;
  margin-left: 0.3rem;
  color:#fff;
}
.t-darkyellow{
  color:#FADA68;
}
.title-3{
  padding: 2% 0;
  background: #fff;
  color:#282828;
  text-align: center;
}
.rules{
  background: #fff;
  overflow: hidden;
  text-align: center;
  padding-bottom: 0.2rem;
}
.rule-box{
  width:50%;
  margin-top:0.4rem;
}
.rule-box p:first-child{
  margin-bottom: 0.2rem;
  border-right:1px solid #eee;
}
.rule-box p:first-child span{
  display: inline-block;
  width: 1.1rem;
  height:1.1rem;
  line-height: 1.1rem;
  text-align: center;
  font-size: 0.64rem;
  color:#e7e7e7;
  border:1px solid #eee;
  border-radius: 50%;
}

.rule-box p:nth-child(2){
  font-size:0.26rem;
  color:#057adc;
  line-height: 0.35rem;
  font-weight: bold;
}
.rule-box p:nth-child(3){
  font-size: 0.24rem;
  color:#282828;
  line-height: 0.32rem;
}
.box-know{
  padding: 0.25rem 0;
  background: #fff;
  -webkit-align-items: center;
  align-items: center;
}

.box-know img{
  width: 3.76rem;
  height: 2.96rem;
}
.rt-box{
  flex: 1;
  padding: 0 0.12rem;
  font-size: 0.2rem;
  line-height: 0.35rem;
}

.box-1{
  width: 100%;
  height: 3.16rem;
  padding: 0.08rem 0;
  -webkit-align-items: center;
  align-items: center;
}

.img-box1{
  width: 3.5rem;
  height: 3rem;
  -webkit-align-items: center;
  align-items: center;
}
.img-box1 img{
  width: 3.5rem;
  height: 2.98rem;
}
.rt-box1{
  flex: 1;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  height: 3rem;
  padding:0 0.2rem;
  background: #fff;
  font-size: 0.26rem;
  line-height: 0.3rem;
}
.title4{
  font-size: 0.3rem;
  line-height: 0.35rem;
  color:#1b2238;
  font-weight: bold;
}
.rt-box1 p:nth-child(2){
  font-size: 0.16rem;
  color:#b6b6b6;
  margin:0 0 0.2rem 0;
}
.box-2{
  width: 100%;
  height: 4.2rem;
  background: #fff;
  -webkit-align-items: center;
  align-items: center;
}
.box-2 > img{
  width: 3.5rem;
  height: 4.2rem;
}
.img-box2{
  height: 4.2rem;
  flex: 1;
  -webkit-align-items: center;
  align-items: center;
}
.img-box2 > img{
  width: 0.73rem;
  height: 3.19rem;
  margin:0 0.1rem;
}
 .img-box2 > div{
   height: 4.2rem;
   flex-direction: column;
   -webkit-justify-content: space-around;
   justify-content: space-around;
   font-size: 0.26rem;
   line-height: 0.3rem;
   color:#1d1d1d;
 }
.box-3 {
  height: 4.6rem;
}
 .box-3 > img{
   width: 2.8rem;
   height: 4.6rem;
   margin-left: 0.12rem;
 }
 .box-4{
   width: 100%;
   height: 3.84rem;
 }
 .img-box4{
   width: 2.90rem;
   height: 3.82rem;
 }
.img-box4 img{
  width: 2.90rem;
  height: 3.82rem;
}
.rt-box4{
  padding:0 0.15rem;
  height: 3.82rem;
}