html, body, h1, h2, h3, p, span, a, div, ol, ul, li, dl, dt, dd, table, tbody, tfoot, thead, tr, th, td, input, textarea, form {margin: 0;padding: 0;font-family:'Microsoft Yahei',Arial,Verdana,Helvetica,sans-serif;-webkit-tap-highlight-color: rgba(0,0,0,0);color: #333;box-sizing: border-box;}
ul,li{list-style: none;}
input{border: 0}
img{border: 0;vertical-align: top;}
i,b,em,strong{font-weight: normal;font-style: normal;padding: 0;margin: 0;}
a{color: #000;text-decoration: none;}
input, textarea, keygen, select, button {margin: 0em;font: -webkit-small-control;color: initial;letter-spacing: normal;word-spacing: normal;text-transform: none;text-indent: 0px;text-shadow: none;display: inline-block;text-align: start;}
input, textarea {outline: 0;}
article, aside, footer, header, hgroup, main, nav, section {display: block;}
body{height: auto;width: 750px;margin: 0 auto;}
#wrap{position: relative;width: 100%;padding-bottom: 120px;font-size: 14px;background: #010915;}
#wrap .A{width: 750px;height: 1150px;}
#wrap .alink{position: absolute;top: 686px;left: 160px;width: 460px;height: 77px;display: block;}

.fixedLink{position: fixed;bottom: 0;left: 50%;margin-left: -375px;width: 750px;height: 120px;background: #000 url(../images/fixedBar.gif) center no-repeat;}
.fixedLink li{width: 25%;height: 120px;float: left;}
.fixedLink li a{height: 100%;width: 100%;display: block;text-indent: -9999px;overflow: hidden;}